<% provide(:title, "Home") %>
<section class="landing">

</section>


<h1 class="cover-heading">Track your blood pressure</h1>
<p class="lead">Save and visualize the evolution of your blood pressure</p>
<p class="lead">
  <%= link_to t('homeNav.signup'), new_user_registration_path, class: "btn btn-lg btn-default" %>
</p>
