<% provide(:title, "New Measure") %>
<h1>New Measure</h1>

<%= render 'form' %>
<br>
<%= link_to measures_path, class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-menu-left"></i> Back
<% end %>
